.container {
  height: 1000px;
  background: linear-gradient(45deg, blue, red);
}

/* .image-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
} */

.image {
  display: block;
  width: 48px;
  height: auto;
  position: fixed;
  top: calc(50% - 48px / 2);
  left: calc(50% - 48px / 2);

  will-change: transform;

  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.fixed {
  position: fixed;
  bottom: 20px;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
